zsh/.config/zsh/.zcompdump
zsh/history

# bash/bash_history

fish/.config/fish/fishd.tmp*

fish/.config/fish/fish_variables

nvim/.config/nvim/lazy-lock.json

packer-nvim/.config/packer-nvim/plugin

emacs/emacs/elpa
emacs/emacs/elpaca
